version: "3"

networks:
  ceres-dev:
    external: true

services:
  tiler:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - ENV=development
    volumes:
      - .:/srv/tiler
    ports:
      - 8888:80
      - 9229:9229
    working_dir: /srv/tiler
    command: npm run dev
    env_file: .env
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
    links:
      - redis-tiler
    networks:
      - default
      - ceres-dev

  redis-tiler:
    image: redis:latest
