version: 2.1

jobs:
  build:
    docker:
      - image: maurimiranda/node-mapnik-gdal:latest
      - image: circleci/postgres:latest-postgis
        environment:
          POSTGRES_DB: tiler
          POSTGRES_USER: tiler
          POSTGRES_PASSWORD: tiler
      - image: redis

    working_directory: ~/tiler

    steps:
      - checkout
    
      - run: 
          name: Installing system dependencies
          command: apt install -y postgresql-client || true

      - run:
          name: Installing app dependencies
          command: npm install && npm link /src/node-mapnik

      - run:
          name: Running linter
          command: npm run lint

      - run:
          name: Running tests
          command: npm run test:report

      - store_test_results:
          path: ./junit/

      - store_artifacts:
          path: ./coverage/lcov-report/
          destination: coverage

      - store_artifacts:
          path: ./test/log/
          destination: log
